<p id="notice"><%= notice %></p>

<h1>Enrolled Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Userid</th>
      <th>Photoencoding</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrolled_users.each do |enrolled_user| %>
      <tr>
        <td><%= enrolled_user.name %></td>
        <td><%= enrolled_user.userId %></td>
        <td><%= enrolled_user.photoEncoding %></td>
        <td><%= link_to 'Show', enrolled_user %></td>
        <td><%= link_to 'Edit', edit_enrolled_user_path(enrolled_user) %></td>
        <td><%= link_to 'Destroy', enrolled_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enrolled User', new_enrolled_user_path %>
